// import fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.primary-gradient{
    background: transparent;
}


// import partial files
@import './sass/extends';
@import './sass/login';