@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  top: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url(http://localhost:3000/static/media/background.ff23fd9a.jpg);
  width: 100%;
  height: 100%;
}

.rec-upper-h{
  z-index: -1;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #00989B;
  clip-path: polygon(100% 0, 100% 20%, 30% 0);
  /**transform: rotate(10deg);**/
  opacity: 0.8;
  margin-bottom: 0;
}

.rec-lower-right-h{
  z-index: -1;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: polygon(100% 75%, 100% 100%, 0 100%);
  /**transform: rotate(10deg);**/
  opacity: 0.8;
}

.rec-lower-left-h{
  z-index: -1;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #00989B;
  clip-path: polygon(0 75%, 50% 100%, 0 100%);
  /**transform: rotate(10deg);**/
  opacity: 0.8;
}

/**code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}**/
/*comment*/
.homeContainer {
  z-index: 3;
  max-width: 1200px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 30px;
  border: #fff solid 1px;
  background-color: #001719;
  
}
/*hehe*/
.header-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.categ {
  font-family: Momcake, sans-serif;
}

.header-logo{
  background: url(http://localhost:3000/static/media/logo-green.5c1c03a3.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 200px;
  margin-bottom: -200px;
  margin-top: -50px;
}

h1 {
  font-family: Momcake, sans-serif;
  color: #fff;
}

.btn {
  border: none;
  padding: 0px 20px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
  height: 30px;
  color: #001719;
  border: #fff solid 0.5px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.category {
  background: #00575A;
  border-style: solid;
  border-color: #fff;
  border-width: 0.5px;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  grid-gap: 3rem;
  line-height: 1.8;
  height: 50px;
}

.side-btn {
  margin: 0px 10px;
  align-items: center;
  float: right;
}

.side-btn:focus {
  outline: none;
}

.side-btn:active {
  transform: scale(0.98);
}

/* .category:focus {
  outline: none;
}

.category:active {
  transform: scale(0.98);
} */

.category h3 {
  font-size: 21px;
  color: #fff;
  font-family: Lato;
  font-weight: bold;
}

.category h4 {
  display: flex;
  float: right;
  padding: 0px 5px 0px;
  margin-top: 2px;
}

.add-category-form {
  margin: 20px 0;
}

.add-category-form input {
  display: block;
  width: 30%;
  height: 40px;
  margin: 10px auto;
  padding: 3px 10px;
  font-size: 17px;
  color: #fff;
  border-radius: 30px;
  background-color: #001719;
  border: #fff solid 0.5px;
}
/* 
.form-add-item {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #9ce0c3;
}

.form-control-input {
  font-size: 17px;
  margin: 20px 0px;
}

.form-control-label {
  margin: 10px;
} */


.center {
  position: relative;
  padding: 15px;
  background: #fff;
  border-radius: 50px;
  color: #6a8076;
}

.center .inputbox {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
  color: #6a8076;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 13px;
}

#suppliers {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 2px solid #000;
  border-radius: 30px;
  color: #6a8076;
}

.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.btn-form-block {
  display: block;
  width: 15%;
  background-color: #001719;
  margin: 0 auto;
  color: #fff;
  border: #fff solid 0.5px;
  font-family: Lato;
  font-weight: bold;
}

.add-form {
  margin: 15px;
  
}

.box {
  width: 100%;
  height: 100%;
  background-color: #001719;
  border-radius: 20px;
  border: #fff solid 0.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
table {
  border-collapse: collapse;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  color: white;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #001719;
}

table tr:nth-child(odd) {
  background-color: #001719;
}

table tr:hover {
  background-color: #00575A;
}

table th {
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00575A;
  color: white;
}
